'use strict'

{{#each recipes as |recipe|}}


  <h1 data-id="{{recipe.id}}">Title: {{recipe.name}}</h1>
  <!-- <div>
    {{#if recipe.description}}
      {{book.description}}
    {{else}}
      No description.
    {{/if}}
  </div> -->

{{/each}}
