{{#each list_items as |list_item|}}
  <div class="grocery-line row">
    <div class="col-md-8">
      <p class="menu-item" id="{{list_item.id}}">{{list_item.item}}</p>
    </div>
    <div class="col-md-4">
      <button id="delete-grocery-item" class="btn btn-danger"data-id="{{list_item.id}}">
        Delete
      </button>
    </div>
  </div>

{{/each}}
