{{#each list_items as |list_item|}}
  <div class="grocery-line row">
    <div class="col-md-9">
      <p class="menu-item" id="{{list_item.id}}">{{list_item.item}}</p>
    </div>
    <div class="col-md-3">
      <!-- <button id="delete-grocery-item" class="btn btn-danger" data-id="{{list_item.id}}"> -->
      <i id="delete-grocery-item" data-id="{{list_item.id}}"class="fa fa-trash"></i>
      <!-- </button> -->
    </div>
  </div>

{{/each}}
